@model INTEX2_group1_3.Models.Burialmain

@{
    ViewData["Title"] = "View";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Delete Authorization</h1>
<br />
<br />
<!--Bronson-->
<h3>Are you sure you want to delete record: @Model.Id</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Squarenorthsouth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Squarenorthsouth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Headdirection)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Headdirection)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Northsouth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Northsouth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eastwest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eastwest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adultsubadult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adultsubadult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facebundles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facebundles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Southtohead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Southtohead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fieldbookpage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fieldbookpage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Squareeastwest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Squareeastwest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goods)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wrapping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wrapping)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Haircolor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Haircolor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Westtohead)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Westtohead)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Samplescollected)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Samplescollected)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burialid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burialid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burialnumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burialnumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dataexpertinitials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dataexpertinitials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Westtofeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Westtofeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ageatdeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ageatdeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Southtofeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Southtofeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Excavationrecorder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Excavationrecorder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hair)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hair)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Burialmaterials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Burialmaterials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dateofexcavation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dateofexcavation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fieldbookexcavationyear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fieldbookexcavationyear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clusternumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clusternumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shaftnumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shaftnumber)
        </dd>
    </dl>

    <form method="post" asp-controller="Home" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    <br /><br />
</div>
