@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BurialMainTextileViewModel

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>Burial Information: @Model.BurialMain.Id</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Burial Information: @Model.BurialMain.Id</strong>
            <ul>
                <li class="list-group-item">Square North South: @Model.BurialMain.Squarenorthsouth</li>
                <li class="list-group-item">Head Direction: @Model.BurialMain.Headdirection</li>
                <li class="list-group-item">Sex: @Model.BurialMain.Sex</li>
                <li class="list-group-item">North South: @Model.BurialMain.Northsouth</li>
                <li class="list-group-item">Depth: @Model.BurialMain.Depth</li>
                <li class="list-group-item">East West: @Model.BurialMain.Eastwest</li>
                <li class="list-group-item">Adult Sub Adult: @Model.BurialMain.Adultsubadult</li>
                <li class="list-group-item">Facebundles: @Model.BurialMain.Facebundles</li>
                <li class="list-group-item">South To Head: @Model.BurialMain.Southtohead</li>
                <li class="list-group-item">Preservation: @Model.BurialMain.Preservation</li>
                <li class="list-group-item">Fieldbook Page: @Model.BurialMain.Fieldbookpage</li>
                <li class="list-group-item">Square East West: @Model.BurialMain.Squareeastwest</li>
                <li class="list-group-item">Goods: @Model.BurialMain.Goods</li>
                <li class="list-group-item">Text: @Model.BurialMain.Text</li>
                <li class="list-group-item">Wrapping: @Model.BurialMain.Wrapping</li>
                <li class="list-group-item">Hair Color: @Model.BurialMain.Haircolor</li>
                <li class="list-group-item">West To Head: @Model.BurialMain.Westtohead</li>
                <li class="list-group-item">Samples Collected: @Model.BurialMain.Samplescollected</li>
                <li class="list-group-item">Area: @Model.BurialMain.Area</li>
                <li class="list-group-item">Burial Id: @Model.BurialMain.Burialid</li>
                <li class="list-group-item">Length: @Model.BurialMain.Length</li>
                <li class="list-group-item">Burial Number: @Model.BurialMain.Burialnumber</li>
                <li class="list-group-item">Data Expert Initials: @Model.BurialMain.Dataexpertinitials</li>
                <li class="list-group-item">West To Feet: @Model.BurialMain.Westtofeet</li>
                <li class="list-group-item">Age At Death: @Model.BurialMain.Ageatdeath</li>
                <li class="list-group-item">South To Feet: @Model.BurialMain.Southtofeet</li>
                <li class="list-group-item">Excavation Recorder: @Model.BurialMain.Excavationrecorder</li>
                <li class="list-group-item">Photos: @Model.BurialMain.Photos</li>
                <li class="list-group-item">Hair: @Model.BurialMain.Hair</li>
                <li class="list-group-item">Burial Materials: @Model.BurialMain.Burialmaterials</li>
                <li class="list-group-item">Fieldbook Excavation Year: @Model.BurialMain.Fieldbookexcavationyear</li>
                <li class="list-group-item">Cluster Number: @Model.BurialMain.Clusternumber</li>
                <li class="list-group-item">Shaft Number: @Model.BurialMain.Shaftnumber</li>
            </ul>
        </li>
        @foreach (var textile in Model.Textiles)
        {
            <li class="list-group-item">
                <strong>Textile Information (ID: @textile.Id)</strong>
                <ul>
                    <li class="list-group-item">Locale: @textile.Locale</li>
                    <li class="list-group-item">Textile Id: @textile.Textileid</li>
                    <li class="list-group-item">Description: @textile.Description</li>
                    <li class="list-group-item">Burial Number: @textile.Burialnumber</li>
                    <li class="list-group-item">Estimated Period: @textile.Estimatedperiod</li>
                    <li class="list-group-item">Sample Date: @textile.Sampledate</li>
                    <li class="list-group-item">Photographed Date: @textile.Photographeddate</li>
                    <li class="list-group-item">Direction: @textile.Direction</li>
                </ul>
            </li>
        }
    </ul>
    
    <br />
    <br />
     <br />
     <br />
     <br />
     <br />
</div>