@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BurialMainTextileViewModel

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>Burial Information: @Model.BurialMain.Id</h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Square North South</th>
                    <th>Head Direction</th>
                    <th>Sex</th>
                    <th>North South</th>
                    <th>Depth</th>
                    <th>East West</th>
                    <th>Adult Sub Adult</th>
                    <th>Facebundles</th>
                    <th>South To Head</th>
                    <th>Preservation</th>
                    <th>Fieldbook Page</th>
                    <th>Square East West</th>
                    <th>Goods</th>
                    <th>Text</th>
                    <th>Wrapping</th>
                    <th>Hair Color</th>
                    <th>West To Head</th>
                    <th>Samples Collected</th>
                    <th>Area</th>
                    <th>Burial Id</th>
                    <th>Length</th>
                    <th>Burial Number</th>
                    <th>Data Expert Initials</th>
                    <th>West To Feet</th>
                    <th>Age At Death</th>
                    <th>South To Feet</th>
                    <th>Excavation Recorder</th>
                    <th>Photos</th>
                    <th>Hair</th>
                    <th>Burial Materials</th>
                    <th>Fieldbook Excavation Year</th>
                    <th>Cluster Number</th>
                    <th>Shaft Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.BurialMain.Squarenorthsouth</td>
                    <td>@Model.BurialMain.Headdirection</td>
                    <td>@Model.BurialMain.Sex</td>
                    <td>@Model.BurialMain.Northsouth</td>
                    <td>@Model.BurialMain.Depth</td>
                    <td>@Model.BurialMain.Eastwest</td>
                    <td>@Model.BurialMain.Adultsubadult</td>
                    <td>@Model.BurialMain.Facebundles</td>
                    <td>@Model.BurialMain.Southtohead</td>
                    <td>@Model.BurialMain.Preservation</td>
                    <td>@Model.BurialMain.Fieldbookpage</td>
                    <td>@Model.BurialMain.Squareeastwest</td>
                    <td>@Model.BurialMain.Goods</td>
                    <td>@Model.BurialMain.Text</td>
                    <td>@Model.BurialMain.Wrapping</td>
                    <td>@Model.BurialMain.Haircolor</td>
                    <td>@Model.BurialMain.Westtohead</td>
                    <td>@Model.BurialMain.Samplescollected</td>
                    <td>@Model.BurialMain.Area</td>
                    <td>@Model.BurialMain.Burialid</td>
                    <td>@Model.BurialMain.Length</td>
                    <td>@Model.BurialMain.Burialnumber</td>
                    <td>@Model.BurialMain.Dataexpertinitials</td>
                    <td>@Model.BurialMain.Westtofeet</td>
                    <td>@Model.BurialMain.Ageatdeath</td>
                    <td>@Model.BurialMain.Southtofeet</td>
                    <td>@Model.BurialMain.Excavationrecorder</td>
                    <td>@Model.BurialMain.Photos</td>
                    <td>@Model.BurialMain.Hair</td>
                    <td>@Model.BurialMain.Burialmaterials</td>
                    <td>@Model.BurialMain.Dateofexcavation</td>
                    <td>@Model.BurialMain.Fieldbookexcavationyear</td>
                    <td>@Model.BurialMain.Clusternumber</td>
                    <td>@Model.BurialMain.Shaftnumber</td>
                </tr>
            </tbody>
                
            
        </table>
    </div>

    <h2>Textile Information:</h2>
    @foreach (var textile in Model.Textiles)
    {
        <div>
            <table class="table">
                <thead>
                    @textile.Id
                                <tr>
                                    <th>Locale</th>
                                    <th>Textile Id</th>
                                    <th>Description</th>
                                    <th>Burial Number</th>
                                    <th>Estimated Period</th>
                                    <th>Sample Date</th>
                                    <th>Photographed Date</th>
                                    <th>Direction</th>
                                </tr>
                            </thead>
                <tbody>
                    
                    <tr>
                        <td>@textile.Locale</td>
                        <td>@textile.Textileid</td>
                        <td>@textile.Description</td>
                        <td>@textile.Burialnumber</td>
                        <td>@textile.Estimatedperiod</td>
                        <td>@textile.Sampledate</td>
                        <td>@textile.Photographeddate</td>
                        <td>@textile.Direction</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        

    }
</div>