@model SearchViewModel
@{
    ViewBag.Title = "Records";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!-- Vendor CSS Files -->
<link href="~/Squadfree/Squadfree/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
<h2>Records</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
                Filters
            </button>
            <form asp-controller="Home" asp-action="Search" method="get">
                <div class="collapse" id="filtersCollapse">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="burialId">Burial ID:</label>
                                <input type="text" class="form-control" id="burialId" placeholder="Search for a burial ID" name="burialId">
                                <datalist id="burialIdList">
                                    @foreach (long burialid in Model.Burials.Where(b => b.Burialid != null).Select(b => b.Burialid).Distinct())
                                    {
                                        <option value="@burialid">@burialid</option>
                                    }
                                </datalist>
                            </div>
                            <div class="col-md-3">
                                <label for="sex">Sex:</label>
                                <select class="form-control" id="sex" name="sex">
                                    <option value="">Select a sex</option>
                                    @foreach (string sex in Model.Burials.Select(b => b.Sex).Distinct().OrderBy(s => s))
                                    {
                                        <option value="@sex">@sex</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="burialDepth">Burial Depth:</label>
                                <select class="form-control" id="burialDepth" name="burialDepth">
                                    <option value="">Select a depth</option>
                                    @foreach (string depth in Model.Burials.Select(b => b.Depth).OrderBy(d => d).Distinct())
                                    {
                                        <option value="@depth">@depth</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="estimateStature">Estimate Stature:</label>
                                <select class="form-control" id="estimateStature" name="estimateStature">
                                    <option value="">Select a stature</option>
                                    @foreach (string length in Model.Burials.Select(b => b.Length).OrderBy(l => l).Distinct())
                                    {
                                        <option value="@length">@length</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="ageAtDeath">Age at Death:</label>
                                <select class="form-control" id="ageAtDeath" name="ageAtDeath">
                                    <option value="">Select an age</option>
                                    @foreach (string age in Model.Burials.Select(b => b.Ageatdeath).Distinct().OrderBy(a => a))
                                    {
                                        <option value="@age">@age</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="headDirection">Head Direction:</label>
                                <select class="form-control" id="headDirection" name="headDirectio">
                                    <option value="">Select a direction</option>
                                    @foreach (string headdirection in Model.Burials.Select(b => b.Headdirection).Distinct().OrderBy(x => x))
                                    {
                                        <option value="@headdirection">@headdirection</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="hairColor">Hair Color:</label>
                                <select class="form-control" id="hairColor" name="hairColor">
                                    <option value="">Select a color</option>
                                    @foreach (string haircolor in Model.Burials.Select(b => b.Haircolor).Distinct().OrderBy(h => h))
                                    {
                                        <option value="@haircolor">@haircolor</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="presenceFaceBundle">Presence of Face Bundle:</label>
                                <select class="form-control" id="presenceFaceBundle" name="presenceFaceBundle">
                                    <option value="">Select an option</option>
                                    @foreach (string facebundles in Model.Burials.Select(b => b.Facebundles).OrderBy(fb => fb).Distinct())
                                    {
                                        <option value="@facebundles">@facebundles</option>
                                    }
                                </select>
                            </div>
                            <!-- Add more dropdown filters in the same manner -->
                            <input type="hidden" name="sex" value="" />
                            <input type="hidden" name="burialDepth" value="" />
                            <input type="hidden" name="estimateStature" value="" />
                            <input type="hidden" name="ageAtDeath" value="" />
                            <input type="hidden" name="headDirection" value="" />
                            <input type="hidden" name="burialId" value="" />
                            <input type="hidden" name="hairColor" value="" />
                            <input type="hidden" name="presenceFaceBundle" value="" />
                            <button class="btn btn-primary btn-sm mt-3" type="submit" asp-controller="Home" asp-action="Filter">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Sex</th>
                        <th>Depth</th>
                        <th>Stature</th>
                        <th>Age At Death</th>
                        <th>Head Direction</th>
                        <th>Burial Id</th>
                        <th>Hair Color</th>
                        <th>Face Bundle</th>
                        <th>Details</th>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <th>Edit</th>
                        <th>Delete</th>
                        }
                        <!-- Add other columns for the fields in the BurialMain model -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (Burialmain b in Model.Burials)
                    {
                    <tr>
                        <td>@b.Id</td>
                        <td>@b.Sex</td>
                        <td>@b.Depth</td>
                        <td>@b.Length</td>
                        <td>@b.Ageatdeath</td>
                        <td>@b.Headdirection</td>
                        <td>@b.Burialid</td>
                        <td>@b.Haircolor</td>
                        <td>@b.Facebundles</td>

                        <td><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="detailsburialitem" asp-route-id="@b.Id">Details</a></td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@b.Id">Edit</a>

                            }
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Delete" asp-route-id="@b.Id">Delete</a>
                            }
                        </td>
                            <!-- Add other columns for the fields in the BurialMain model -->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary mb-3" asp-area="" asp-controller="Home" asp-action="Add">Add a Burial</a>
            <br /><br />
            <a></a>
        </div>
    </div>
</div>
@*<div>
        <a asp-action="Records" asp-route-page="@(Model.PageInfo.PageIndex - 1)" class="@(Model.PageInfo.HasPreviousPage ? "enabled" : "disabled")">Previous</a>
        <span>@Model.PageInfo.PageIndex of @Model.PageInfo.TotalPages</span>
        <a asp-action="Records" asp-route-page="@(Model.PageInfo.PageIndex + 1)" class="@(Model.PageInfo.HasNextPage ? "enabled" : "disabled")">Next</a>
    </div>*@
<!-- Vendor JS Files -->
<script src="~/Squadfree/Squadfree/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/Squadfree/Squadfree/assets/vendor/aos/aos.js"></script>
<script src="~/Squadfree/Squadfree/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Squadfree/Squadfree/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/Squadfree/Squadfree/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/Squadfree/Squadfree/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/Squadfree/Squadfree/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterButton = document.querySelector('[data-bs-toggle="collapse"]');
        filterButton.addEventListener('click', function () {
            const targetId = this.getAttribute('data-bs-target');
            const targetElement = document.querySelector(targetId);
            targetElement.classList.toggle('collapse');
            targetElement.classList.toggle('show');
        });
    });
</script>
<script>
    var input = document.getElementById('burialId');
    var list = document.getElementById('burialIdList');
    input.addEventListener('input', function () {
        var value = input.value;
        var options = list.options;
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            if (option.value.indexOf(value) === 0) {
                option.selected = true;
                return;
            }
        }
    });
</script>
