@model BurialViewModel
@{
    ViewBag.Title = "Records";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<br />
<br />
<br />
<br />
<br />
<!-- Vendor CSS Files -->
<link href="~/Squadfree/Squadfree/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/Squadfree/Squadfree/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">
<h2>Records</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-outline-primary button-block mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
                Filters
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-primary button-block mb-3" asp-area="" asp-controller="Home" asp-action="Add">Add a Burial</a>
            }
            <form method="post" asp-controller="Home" asp-action="Search">
                <div class="collapse" id="filtersCollapse">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <select name="area">
                                    <option value="">Burial Direction</option>
                                    @foreach (string burialDirection in Model.FilterForm.BurialDirections)
                                    {
                                        <option name="filterDirection" value="@burialDirection">@burialDirection</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="burialnumber">
                                    <option value="">Burial Number</option>
                                    @foreach (string burialnumber in Model.FilterForm.Burialnumbers)
                                    {
                                        <option value="@burialnumber">@burialnumber</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="depth">
                                    <option value="">Depth</option>
                                    @foreach (string depth in Model.FilterForm.Depths)
                                    {
                                        <option value="@depth">@depth</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="headdirection">
                                    <option option value="">Head Direction</option>
                                    @foreach (string headdirection in Model.FilterForm.Headdirections)
                                    {
                                        <option value="@headdirection">@headdirection</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="ageatdeath">
                                    <option option value="">Age at Death</option>
                                    @foreach (string ageatdeath in Model.FilterForm.Ageatdeaths)
                                    {
                                        <option value="@ageatdeath">@ageatdeath</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="length">
                                    <option option value="">Length</option>
                                    @foreach (string length in Model.FilterForm.Lengths)
                                    {
                                        <option value="@length">@length</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="sex">
                                    <option option value="">Sex</option>
                                    @foreach (string sex in Model.FilterForm.Sexs)
                                    {
                                        <option value="@sex">@sex</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select>
                                    <option option value="">Haircolor</option>
                                    @foreach (string haircolor in Model.FilterForm.Haircolors)
                                    {
                                        <option value="@haircolor">@haircolor</option>
                                    }
                                </select>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <br />
                                <button class="btn btn-outline-primary btn-sm" type="submit">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Square N/S</td>
            <td>Square E/W</td>
            <td>Area</td>
            <td>Number</td>
            <td>Burial Depth</td>
            <td>Head Direction</td>
            <td>Age at Death</td>
            <td>Estimate Stature</td>
            <td>Sex</td>
            <td>Hair Color</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Burials)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Squarenorthsouth @x.Northsouth</td>
                <td>@x.Squareeastwest @x.Eastwest</td>
                <td>@x.Area</td>
                <td>@x.Burialnumber</td>
                <td>@x.Depth</td>
                <td>@x.Headdirection</td>
                <td>@x.Ageatdeath</td>
                <td>@x.Length</td>
                <td>@x.Sex</td>
                <td>@x.Haircolor</td>
                <td><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="detailsburialitem" asp-route-id="@x.Id">Details</a></td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@x.Id">Edit</a></td>
                    <td><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Delete" asp-route-id="@x.Id">Delete</a></td>
                }
            </tr>
        }
    </tbody>
</table>

<br />
@await Html.PartialAsync("_PaginationPartial", Model.PageInfo)








